<div #mapa class="h-[70vh] sm:h-[calc(100vh-64px)]"></div>

<section
  class="h-[calc(30vh-64px)] bg-white p-5 border border-gray-200 shadow-lg
  sm:fixed sm:w-[260px] sm:rounded sm:top-20 sm:left-5 overflow-y-scroll"
>
  <h2 class="text-xl font-bold text-black mb-2">Marcadores:</h2>
  <div class="flex flex-col gap-2">
    @for (marker of markers(); track marker.id) {
      <div class="form-control"
        (click)="flyToMarker(marker.mapboxMarker.getLngLat())"
        (dblclick)="deleteMarker(marker)"
      >
        <label class="label cursor-pointer">
          <span class="label-text">
            <span class="text-sm text-gray-700">{{ marker.mapboxMarker.getLngLat() | json }}</span>
          </span>
          <input
            type="radio"
            name="radio-10"
            class="radio checked:bg-red-500"
            [style]="{backgroundColor: marker.mapboxMarker._color }"
            checked="checked"
          />
        </label>
      </div>
    } @empty {
      <div class="flex justify-center items-center bg-blue-100 rounded p-5">
        <p class="text-xs text-secondary">Sin marcadores personalizados</p>
      </div>
    }
  </div>
</section>
